@model SimpleBlog.Models.PostViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1> @Model.Post.Title </h1>
    <p class="lead"> @Model.Post.PostedBy </p>
    <p> @Model.Post.PostDate</p>

</div>

<br />

<div class="jumbotron">

    <p class="lead"> @Model.Post.Body </p>

</div>


<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th> Comment </th>
            <th>  Commeted by</th>
            <th> Date </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var comment in Model.Comments)
        {
            <tr>
                <td> @comment.CommentBy </td>


                <td> @comment.CommentDate </td>

                <td> @comment.Data </td>

            </tr>

        }
    </tbody>
</table>

@using (Html.BeginForm("Comment", "Post"))
{

    if(true)
    {
        var comment = Model.Comments;

        <div class="form-group">
            @Html.LabelFor(m => comment.Data);
            @Html.TextAreaFor(m => comment.Data, new { @class = "form-control" })
        </div>

        @Html.HiddenFor(m => comment.Id)
        <button type="submit" class="btn btn-primary"> Comment </button>
    }

}


